.search-section {
    margin: 20px 0;
}

.search-section ul li {
    display: flex;
}

.search-section ul .list-item__label {
    flex-grow: 1;
}

.react-dropdown-select {
    height: auto;
}

.search-input > div {
    flex-wrap: nowrap;
}

.react-dropdown-select {
    min-height: 38px!important;
}