hr {
    width: 100%;
    position: relative;
    background: #cdcdcd;
    height: 1px;
    top:100px;
}
.line img {
    position: relative;
    top: 60px;
    display: block;
    margin: 0 auto;
    pointer-events: none;
}
.no-gutter {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

