.recipes-section {
    position: relative;
    top:100px;
}

.recipes-section h3 {
    text-align: center;
    color: #5b5b5b;
}

.recommended, .new-recipes, .popular  {
    color: #5b5b5b;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.recommended:hover, .new-recipes:hover, .popular:hover {
    color: white;
    background-color: #5b5b5b;
    border-radius: 25px;
}

.category {
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 15px;
    margin-bottom: 25px;
    margin-top: 25px;
}
