.recipes-section-item {
    position: relative;
    height: inherit;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    margin-bottom: 10px;
    max-height: 250px;
    box-shadow: 8px 8px 15px rgba(55, 55, 55, 0.64);
}
.no-gutters {
    padding: 0px;
}


.recipe-image {
    position: relative;
    float: left;
    width: 250px;
    height: calc(100% + 1px);
    z-index: 1;
    border-radius: 10px 0px 0px 10px;
    left: -1px;
}

.recipes-section-item figcaption {
    display: inline-block;
    width: 40%;
    margin: 10px;

}

.recipe-title {
    text-align: center;
    font-size: 18px;
    color: #4a4a4a;
    font-weight: bold;
}

.recipe-description {
    text-align: justify;
    font-size: 10px;
    color: #4a4a4a;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}

.like {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    right: 0;
    border-top: 1px solid #cdcdcd ;
    z-index: 0;
}
.like img {
    position: absolute;
    right: 0;
    margin: 8px;
}

