.autorization-container {
    margin: 30px 0 20px;
}
.styleHidden {
    display: none;
}

.autorization-buttons {
    margin: 0 auto;
    margin-bottom: 10px;
}

.autorization-buttons button{
   font-size: 18px;
}
