.autorization-container {
    margin: 30px 0 20px;
}

.autorization__title {
    margin-bottom: 30px;
    font-size: 26px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.autorization__title:hover {
    background-color: dodgerblue;
    border: none;
    color: white;
    transition: all 0.5s;
}



.styleHidden {
    display: none;
}
