.recipe-image {
    display: table;
    height: 200px;
}

.image-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.ingredients-title {
    font-size: 18px;
    padding-left: 20px;
    margin: 2rem 0 1rem;
}

.cooking-instruction__title {
    font-size: 18px;
}

/*.card > .row > div:first-child {*/
/*    height: 100%;*/
/*}*/
